<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAI2jHVXzaN6O4uiKXn4b-xQK-cMSF-A0</string>
	<key>GCM_SENDER_ID</key>
	<string>342903579532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>task-app-aa99f</string>
	<key>STORAGE_BUCKET</key>
	<string>task-app-aa99f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342903579532:ios:5ee13e7cd220d88bd52ca9</string>
</dict>
</plist>